@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}

@import url('https://fonts.cdnfonts.com/css/raleway-5');

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;                                                
}

main {
    margin: auto;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    background-image: url("../images/soup.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header p {
    font-size: 4rem;
    font-weight: 400;
    color: white;
    text-align: center;
    margin: auto;
}

@media screen and (max-width: 720px) {
  .header p {
    font-size: 3rem;
    text-align: center;
  }
}
.article {
    font-size: 1rem;
    color: #5c5c5c;
    line-height: 1.4;
    border-bottom: solid 2px #c7c7c7;
    width: 60vw;
}

.article img {
    display: block;
    margin: 50px auto 20px auto;
    width: 50%;
}

@media screen and (max-width: 720px) {
    .article img {
        width: 70%;
    }
}

.article h3 {
    margin: 40px 0;
    font-weight: 500;
}

.article ul {
    list-style: none;
    padding-left: 10px;
}

.ingredients ul li::before {
    content: "- ";
}

.direction {
    border: none;
}
